
@import url('https://fonts2.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* montserrat-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts2/montserrat-v26-latin-100.eot'); /* IE9 Compat Modes */
  src: url('../fonts2/montserrat-v26-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts2/montserrat-v26-latin-100.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts2/montserrat-v26-latin-100.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../fonts2/montserrat-v26-latin-100.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../fonts2/montserrat-v26-latin-100.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts2/montserrat-v26-latin-200.eot'); /* IE9 Compat Modes */
  src: url('../fonts2/montserrat-v26-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts2/montserrat-v26-latin-200.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts2/montserrat-v26-latin-200.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../fonts2/montserrat-v26-latin-200.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../fonts2/montserrat-v26-latin-200.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts2/montserrat-v26-latin-300.eot'); /* IE9 Compat Modes */
  src: url('../fonts2/montserrat-v26-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts2/montserrat-v26-latin-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts2/montserrat-v26-latin-300.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../fonts2/montserrat-v26-latin-300.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../fonts2/montserrat-v26-latin-300.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts2/montserrat-v26-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts2/montserrat-v26-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts2/montserrat-v26-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts2/montserrat-v26-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../fonts2/montserrat-v26-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../fonts2/montserrat-v26-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts2/montserrat-v26-latin-500.eot'); /* IE9 Compat Modes */
  src: url('../fonts2/montserrat-v26-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts2/montserrat-v26-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts2/montserrat-v26-latin-500.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../fonts2/montserrat-v26-latin-500.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../fonts2/montserrat-v26-latin-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts2/montserrat-v26-latin-600.eot'); /* IE9 Compat Modes */
  src: url('../fonts2/montserrat-v26-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts2/montserrat-v26-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts2/montserrat-v26-latin-600.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../fonts2/montserrat-v26-latin-600.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../fonts2/montserrat-v26-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts2/montserrat-v26-latin-700.eot'); /* IE9 Compat Modes */
  src: url('../fonts2/montserrat-v26-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts2/montserrat-v26-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts2/montserrat-v26-latin-700.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../fonts2/montserrat-v26-latin-700.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../fonts2/montserrat-v26-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts2/montserrat-v26-latin-800.eot'); /* IE9 Compat Modes */
  src: url('../fonts2/montserrat-v26-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts2/montserrat-v26-latin-800.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts2/montserrat-v26-latin-800.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../fonts2/montserrat-v26-latin-800.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../fonts2/montserrat-v26-latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts2/montserrat-v26-latin-900.eot'); /* IE9 Compat Modes */
  src: url('../fonts2/montserrat-v26-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts2/montserrat-v26-latin-900.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts2/montserrat-v26-latin-900.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../fonts2/montserrat-v26-latin-900.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../fonts2/montserrat-v26-latin-900.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* ------------------------------------------------------------------------------------------ */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
body{
  font-family: 'Montserrat', sans-serif;
  line-height: 26px;
}
.container{
    padding: 0 200px;
}
.sec_title{
  text-align: center;
}
.main_title{
  font-size: 36px;
  font-weight: 700;
  color: #111111;
  margin-bottom: 20px;
  margin-top: 20px;
  
}
.sub_title{
  font-size: 13px;
  font-weight: 400;
  color: #999;
  margin-bottom: 52px;
}
.single_product{
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 10px;
}
.category{
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 70px; */
  margin-bottom: 75px;
}
.category p a{
  padding: 0 30px;
  font-size: 14px;
  font-weight: 700;
  
}

/* -------------------------------------------- */
.main_product{
  display: grid;
  grid-template-columns: repeat(4,25%);
  grid-template-rows: repeat(2,50%);
}
.pro_img{
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
  object-fit: cover;
}
img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  
}
.product_contain{
  text-align: center;
}
.product_contain a{
  font-size: 15px;
  font-weight: 400;
  color: #555;
  display: block;
  margin-bottom: 3px;
}
.product_contain span{
  font-size: 16px;
  font-weight: 600;
  color: #FF5D1D;
}
.product_contain s{
  font-size: 14px;
  font-weight: 400;
  color: #989898;
}
.offer_lable{
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  font-weight: 400;
  background-color: #FF5D1D;
  color: white;
  line-height: 25px;
  padding: 0 13px;
}
.icon_list{
  position: absolute;
  top: 10px;
  right: -40px;
  /* padding: 10px 0; */
  transition: .4s;
}
.icon_list li a{
  height: 40px;
  width: 40px;
  background-color: white;
  padding: 10px 0 ;
  color: #111;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon_list li a:hover{
  color: white;
  background-color: #FF5D1D;
}
.single_product:hover .icon_list {
  right: 10px;
  
}
.layer{
  height: 386px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.single_product:hover .layer{
  display: block;
}
.button-group button{
 padding: 12px 30px;
 display: block;
 color: #111111;
 font-weight: 700;
 font-size: 14px;
 background-color: #f7f7f7;
 margin-right: 10px;

}
.button-group .active{
 background-color: #FF5D1D;
 color: white;
}
.button-group button{
 background-color: #111;
 color: white;
}

/* -----------------------------------header---------------------------------------------------- */

.flex{
 display: flex;
 justify-content: space-between;
 align-items: center;

}
.logo_header{
 justify-content: space-between;
 align-items: center;

 
}
.container2{
 padding: 25px 60px;
 box-shadow: 0px 1px 10px rgba(0, 0, 0,0.4);
}
.main_menu li a{
 display: block;
 padding: 15px;
 font-size: 14px;
 font-weight: 700;
 color: #111;
}
.main_logo a img{
 width: 100%;
}
.down{
 font-size: 10px;
}
.icon1{
 font-size: 15px;
}
/* ==================================product-details================================================ */

.main_pro_details{
 display: grid;
 grid-template-columns: 25% 30% 45%;
}
.left_pro_details{
 padding-left: 20px;
}
.header{
 margin-bottom: 45px;
}
.header .swine{
 font-size: 14px;
 font-weight: 500;
 color: #111;
 padding-left: 20px;
}
.header a i{
 font-size: 12px;
 color: #999;
}
.header a i:hover,
.header:hover a{
 color: #FF5D1D;
}
.categories_title{
 font-size: 18px;
 font-weight: 700;
 color: #111;
 margin-bottom: 15px;

}
.sub_categories{
 margin-bottom: 35px;
}
.sub_categories a{
 display: block;
 font-size: 15px;
 color: #111;
 font-weight: 400;
 padding: 5px 00;
}
.sub_categories a:hover{
 color: #FF5D1D;
}

.latest_pro_title{
 font-size: 18px;
 font-weight: 700;
 color: #111;
 margin-bottom: 18px;
}
.img_with_caption{
 display: grid;
 grid-template-columns: 20% 80%;
 margin-bottom: 15px;
}
.img1{
 height: 95.68px;
 width: 80px;
 border: 1px solid transparent;
 transition:.5s;
 /* object-fit: cover; */
}
.right_caption{
 padding-left: 27px;
}
.r_c_title a{
 font-size: 15px;
 color: #555;
 font-weight: 400;
 display: block;
 margin-bottom: 8px;
}
.r_c_title a span{
 font-size: 16px;
 font-weight: 600;
 color: #111;
}
.left_img img:hover{
 border-color: #FF5D1D;
 transition: .5s;
}
.r_c_title a:hover{
 color: #FF5D1D;
 
}
.center_pro_img{
 margin-top: 70px;
}
.detail_pro_img
{
 margin-bottom: 10px;
}
.pro_thumbnail{
 display: flex;
 align-items: center;
 justify-content: space-between;
 gap: 12px;
}
.pro_thumbnail li a{
 height: 150px;
 width: 150px;
}
.pro_thumbnail li a img{
 border: 1px solid transparent;
 transition: .4s;
}
.pro_thumbnail li a img:hover {
 border-color: #111;
}

.right_pro_details{
 padding-left: 33px;
 margin-top: 70px;
}
.swine_title{
 font-size: 24px;
 font-weight: 700;
 color: #111;
 margin-bottom: 16px;
}
.reting{
 display: flex;
 align-items: center;
 gap: 5px;
 margin-bottom: 16px;
}
.reting img{
 height: 15px;
 width: 80px;
}
.reting span{
 color: #111;
 font-size: 14px;
}
.pro_descripation p{
 font-size: 14px;
 color: #999;
 font-family: montserrat;
 margin-bottom: 16px;
}
.brand span,
.pro_code span,
.pro_points span,
.availability span{
 font-weight: 700;
 font-size: 14px;
 color: #999;
 display: inline-block;

}
.flex_pro{
 display: flex;
 align-items: center;
}
.brand{
 margin-bottom: 14px;
}
.brand a{
 font-weight: 700;
 font-size: 14px;
 color: #111;
 padding-left: 80px;
 display: inline-block;
}
.pro_code{
 margin-bottom: 14px;
}
.pro_code a{
 font-weight: 700;
 font-size: 14px;
 color: #111;
 padding-left: 25px;
 display: inline-block;
}
.pro_points{
 margin-bottom: 14px;
}
.pro_points a{
 font-weight: 700;
 font-size: 14px;
 color: #111;
 padding-left: 19px;
 display: inline-block;
}
.availability a{
 font-weight: 700;
 font-size: 14px;
 color: #111;
 padding-left: 45px;
 display: inline-block;

}
.availability{
 margin-bottom: 14px;
}
.brand a:hover{
 color: #FF5D1D;
}
.viewed{
 display: flex;
 align-items: center;
 gap: 5px;
 margin-bottom: 35px;
}
.viewed span{
 font-size: 14px;
 color: #666;
}
.viewed i,
.viewed a{
 font-size: 14px;
 color: #666;
}
.big_price{
 font-size: 36px;
 font-weight: 600;
 color: #FF5D1D;
 margin-bottom: 35px;
}
.qty{
 position: relative;
 margin-bottom: 20px;
}
.qty span{
 font-size: 13px;
 font-weight: 700;
 color: #111;
 margin-bottom: 10px;
 padding-left: 5px;
}
.qty a{
 padding: 10px;
 width: 17%;
 /* background-color: #111; */
 border: 1px solid rgba(17, 17, 17,0.4);
 display: block;
}
.qty img {
 height: 25px;
 width: 25px;
 position: absolute;
 top: 40px;
 left: 70px;
}
.pro_btn{
 margin-bottom: 20px;
}
.pro_btn button:nth-child(1){
 padding: 16px 93px;
 font-weight: 700;
 color: #fff;
 background-color: #111;
 border: none;
 cursor: pointer;
 &:hover{
    background-color: #FF5D1D;
 }

}
.pro_btn button:nth-child(2){
 padding: 16px 65px;
 margin-left: 20px;
 font-weight: 700;
 color: #fff;
 background-color: #FF5D1D;
 border: none;
 cursor: pointer;
 &:hover{
    background-color: #e94200;
 }
}
.pro_icons{
 margin-bottom: 25px;
}

.pro_icons li a{
color: #001111;
height: 50px;
font-size: 21px; 
width: 50px;
border: 1px solid #001111;
display: flex;
justify-content: center;
align-items: center;
margin-right: 15px; 

&:hover{
 color: #FF5D1D;
 border-color: #FF5D1D;
}
}
.share_this span{ 
 font-size: 13px;
 font-weight: 700;
 color: #111;
 margin-bottom: 10px;
 display: block;
 margin-top: 40px;
}
.share_this a img{
 height: 25px;
 width: 290px;
 margin-bottom: 30px;
}
.tag span{
 font-size: 13px;
 font-weight: 700;
 color: #111;
 margin-right: 7px;
}
.tag a{
 font-size: 12px;
 font-weight: 700;
 padding: 7px;
 background-color: #111;
 color: white;
 &:hover{
    background-color: #FF5D1D;
 }
 
}
.pro_thumbnail .active{
 border: 1px solid black;
}
.d_items{
 color: #222;
 font-weight: 500;

}
.right_pro_details{
 position: relative;
}
.descripstion{
 position: absolute;
 top: 85%;
 left: -60%;
}
.clock{
 float: left;
 color: #999;
 min-width: 150px;
 font-size: 14px;
 margin-top: 15px;
}
.pro_des2 p{
 font-size: 16px;
  color: #222;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 10px;
}
.span2{
 display: inline-block;
 margin-top: 20px;
}
.d-flex{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}